.header {
    background: url('/../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &:before {
        content: "";
        height: 50px;
        position: absolute;
        bottom: -1px;
        width: 100%;
        background: $white;
        @include breakpoint(md) {
            display: none;
        }
    }
    .row {
        margin-right: 0;
        margin-left: 0;
        justify-content: space-between;
    }

    &__mob-menu {
        display: none;
        overflow: hidden;
        position: absolute;
        left: 0;
        height: 100vh;
        top: 59px;
        background: $white;
        z-index: 2;
        box-shadow: 0px 40px 0px 40px $white;
        &.open {
            display: block;
            max-height: initial;
            width: 100%;
            overflow: hidden;
        }
        .header-menu {
            display: flex;
            flex-direction: column;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 10vh;
            padding-bottom: 5vh;
            .header-menu__link {
                color: $black;
                line-height: 30px;
                font-size: 20px;
            }
        }
    }
    &__logo {
        width: 80%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 0px;
        margin-top: 10px;
        @include breakpoint(md) {
            width: 40%;
            margin-bottom: 20px;
        }
        @include breakpoint(lg) {
            padding-top: 30px;
            margin-bottom: 0px;
        }
        a:hover {
            text-decoration: none;
        }
        img {
            width: 55px;

            @include breakpoint(md) {
                width: 60px;
            }
            @include breakpoint(lg) {
                width: 144px;
            }
        }
        span {
            font-family: 'PF DIN';
            font-weight: bold;
            color: #8BB2DD;
            text-transform: uppercase;
            font-size: 22px;
            line-height: 24px;

            @include breakpoint(md) {
                font-size: 30px;
                line-height: 36px;
            }
            @include breakpoint(lg) {
            font-size: 40px;
            line-height: 48px;
            }
        }
    }
    &__link {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    &__phone {
        order: 1;
        font-size: 16px;
        padding-bottom: 11px;
        line-height: 20px;
        color: $white;
        width: 100%;
        @include breakpoint(lg) {
            width: auto;
            font-size: 20px;
            line-height: 24px;
            padding-bottom: 0px;
        }

        * {
          color: $white !important;
        }
    }
    &__adress {
        order: 2;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 16px;
        @include breakpoint(lg) {
            font-size: 20px;
            line-height: 24px;
            padding-bottom: 0px;
        }
    }
    &__button {
        justify-content: center;
        margin-bottom: 10px;
        @include breakpoint(md) {
            display: none;
        }
    }
    &__callback {
        background: $blue;
        border: 1px solid $blue;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: bold;
        line-height: 22px;
        font-size: 18px;
        padding: 12px 42px;
        margin-bottom: 20px;
        order: 3;
    }
    &__line {
        @include breakpoint(md) {
            width: 100%;
            border-bottom: 1px solid $white;
            opacity: 0.2;
            margin-bottom: 20px;
        }
        @include breakpoint(lg) {
            padding-top: 14px;
            width: 72%;
            margin-bottom: 25px;
        }
    }
    &__icon {
        margin-right: 5px;
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        @include breakpoint(md) {
            width: 100%;
            flex-wrap: wrap;
        }
        @include breakpoint(lg) {
            width: 60%;
            display: block;
        }
    }
    &__contact {
        display: none;
        @include breakpoint(md) {
            color:$white;
            font-weight: bold;
            flex-wrap: wrap;
            text-align: right;
            justify-content: flex-end;
            align-items: baseline;
            display: flex;
            margin-top: 40px;
            width: 60%;
        }
        @include breakpoint(lg) {
            width:100%;
           flex-wrap: nowrap;
           justify-content: space-between;
        }
        &_mob {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;
            color: $white;
            .header__adress {
                margin: 10px 0;
                color: $black;
                width: 70%;
            }
            a {
                width: 100%;
                color: $blue;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
    &__heading {
        text-align: center;
        width: 70%;
        margin: auto;
        margin-top: 27px;
        @include breakpoint(md) {
            margin-top: 63px;
        }
        @include breakpoint(lg) {
            margin-top: 185px;
        }
        .heading {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 30px;
            @include breakpoint(md) {
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 50px;
            }
            @include breakpoint(lg) {
                line-height: 82px;
                font-size: 62px;
                margin-bottom: 120px;
            }
        }
    }
    &__container {
        @include breakpoint(lg) {
            min-height: 1000px;
            margin-bottom: 103px;
        }
    }
    &__menu {
        width: 100%;
        display: none;
        @include breakpoint(md) {
            display: block;
        }
    }
}

.mobile-menu-toggle {
    background: none;
    border: none;
    outline: none;
    width: 20%;
    text-align: right;
    img {
        width: 25px;
    }
}
.header-menu {
    margin-top: 20px;
    @include breakpoint(md) {
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__link {
        color:$white;
        font-size: 18px;
        line-height: 24px;
        @include breakpoint(md) {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
        @include breakpoint(lg) {
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
        }
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}
.header-adv {
    &__heading {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color:$white;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 15px;

        @include breakpoint(md) {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 25px;
        }
        @include breakpoint(lg) {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 42px;
        }
    }
    &__item {
        border-radius: 5px;
        height: 100%;
        min-height: 74px;
        background: $blue;
        line-height: 26px;
        font-weight: 500;
        color: $white;
        padding: 11px 36px;
        cursor: pointer;
        @include breakpoint(md) {
            min-height: 100px;
        }
        @include breakpoint(lg) {
            padding: 35px 60px 48px 41px;
        }
    }
    .swiper-slide {
        @include breakpoint(md) {
            height: auto;
        }
    }
    .swiper-pagination-bullets {
        bottom: 0;
        .swiper-pagination-bullet {
            border: 1px solid $blue;
            opacity: 1;
            background: $white;
            &.swiper-pagination-bullet-active {
                background: $blue;
            }
        }
    }
}
