@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Roboto'), url('../fonts/Roboto-Regular.woff') format('woff2');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Roboto'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src: local('Roboto'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'PF DIN';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Roboto'), url('../fonts/PF Din Text Cond Pro.ttf') format('truetype');
}


