.block-about {
    color: $white;
    @include breakpoint(md) {
        margin-top: 50px;
    }
    @include breakpoint(lg) {
        margin-top: 86px;
        margin-bottom: 50px;
    }

    &__left {
        background: url('/images/about_bckg.jpg') #09192B no-repeat;
        background-size: cover;
        padding: 29px 20px 30px;
        height: 100%;
        @include breakpoint(md) {
            margin-bottom: 0px;
            padding: 48px 50px 65px 40px;
        }
        @include breakpoint(lg) {
            padding: 98px 142px 85px;
        }
    }
    &__right {
        height: 100%;
        background: $blue;
        display: flex;
        align-content: baseline;
        padding: 20px 20px 30px;
        margin-top: 0px;
        flex-wrap: wrap;
        @include breakpoint(md) {
            padding: 36px 50px 40px 40px;
            margin-top: 20px;
            flex-wrap: nowrap;
        }
        @include breakpoint(lg) {
            margin-top: 0px;
            flex-wrap: wrap;
        }
        @include breakpoint(xl) {
            padding: 76px 55px 70px;
            margin-top: 0px;
        }
    }
    &__icon {
        max-width: 25px;
        padding-bottom: 25px;
        flex-shrink: 0;
        @include breakpoint(md) {
            max-width: 50px;
            margin-right: 30px;
        }
        @include breakpoint(lg) {
            max-width: 105px;
            width: 105px;
            height: 105px;
            margin-bottom: 45px;
        }
        img {
            width: 100%;
        }
    }
    .heading {
        @include breakpoint(lg) {
            margin-bottom: 90px;
        }
    }
}
